[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple/"
verify_ssl = true
name = "tsinghua"

[packages]
flask = "*"
feedparser = "*"
requests-html = "*"
markdown = "*"
flask-wtf = "*"
flask-admin = "*"
bootstrap-flask = "*"
flask-sqlalchemy = "*"
flask-login = "*"
python-dotenv = "*"
sentry-sdk = {version = "==0.5.3",extras = ["flask"]}
beautifulsoup4 = "*"
flask-babelex = "*"
pymysql = "*"

[dev-packages]

[requires]
python_version = "3"
